.Header {
  background-color: hsla(120, 25%, 90%, 0.85);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}
.Header img {
  max-width: 100px;
}

.Header button {
  border: none;
  background-color: hsla(120, 25%, 90%, 0);
  font-size: 1.5em;
  font-family: Lora;
  border-radius: 25px;
}

.Header button:hover {
  font-weight: bolder;
  font-size: 1.5em;
}

.Header ul {
  display: flex;
  list-style: none;
  font-family: Lora;
}

.Header h1 {
  font-size: x-large;
}

.Header a:hover {
  cursor: pointer;
  font-weight: bolder;
  font-size: 105%;
}

.Header li {
  font-size: 1.5em;
  padding: 20px;
}

.Header a {
  text-decoration: none;
  color: black;
}
