.Header {
  background-color: #d8edda;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.Header ul {
  display: flex;
  list-style: none;
}

.Header h1 {
  font-size: x-large;
}

.Header a:hover {
  cursor: pointer;
  font-weight: bolder;
  font-size: 102%;

}

.Header li {
  font-size: 1.1em;
  padding: 20px;

}

.Header a {
  text-decoration: none;
  color: black;
}