.mapForm {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.farmArray {
  background-color: hsla(121, 11%, 89%, 0.4);
}

.mapContainer .FarmListContainer {
  list-style: none;
  text-decoration: none !important;
  margin: 0px;
  overflow: scroll;
  height: 678px;


@media only screen and (min-width: 800px) {
  .mapContainer {
    display: flex;
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    font-size: 105%;
    font-weight: bold;
  }

  .farmArray {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .FarmListContainer {
    flex: space-between;
    margin: 40px;

    padding: 0;
  }
  .farmArray li {
    background-color: hsla(121, 11%, 89%, 0.8);
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    padding: 10px 0px;
  }
}