.mapForm {
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

@media only screen and (min-width: 800px) {
    .mapContainer {
        display: flex;
        margin: 20px;
    }

    a {
        text-decoration: none;
        color: black;

    }

    a:hover {
        font-size: 105%;
        font-weight: bold;

    }

    .farmArray {
        display: flex;
        flex-direction: column;

    }
}